<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Devstart.io</title>

		<meta name="description" content="A stylish, integrated StartPage for the Clarion IDE and so much more!">
		<meta name="author" content="Brahn Partridge, Fushnisoft">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">
		<link rel="stylesheet" href="css/mine.css" >

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<div class="first_heading">
							<h1 ><img class="QRCode" src="img/qrcode-blue.png" alt="QRCode" >Devstart<span style="color:#4b8df8;">.io</span></h1>
						</div>
						<blockquote>A stylish, integrated StartPage for the Clarion IDE and so much more!</blockquote>
					</section>
					<section data-background="white">
						<img width="75%" class="QRCode" src="img/qrcode-blue.png" alt="QRCode" >
					</section>
				</section>


				<!-- Example of nested vertical slides -->
				<section data-background="#4b8df8">
					<section>
						<h2>Goals of this session</h2>
						<ul>
							<li>
								Introduce you to the <span style="background-color:black;padding: 0 10px 0 10px;">Devstart<span style="color:#4b8df8;">.io</span></span> Project!
							</li>
							<li>Demonstrate why you <del>want</del> <em>need</em> this thing.</li>
						</ul>

						<p><br /><small>(and show off some neat tech if there is time...)</small></p>
					</section>
					<section>
						<h2>when I change the css</h2>
						<blockquote>
							<img src="img/funny-change-css.gif">
							<footer> —
								<cite>
									<a title="the_coding_love();" href="http://thecodinglove.com/post/60946709632/when-i-change-the-css">the_coding_love();</a>
								</cite>
							</footer>
						</blockquote>
					</section>
					<section>
						<h2>when my code runs but is not what I expected</h2>
						<blockquote>
							<img src="img/funny-helicoptor.gif">
							<footer> —
								<cite>
									<a title="the_coding_love();" href="http://thecodinglove.com/post/60843415803/when-my-code-runs-but-is-not-what-i-expected">the_coding_love();</a>
								</cite>
							</footer>
						</blockquote>
					</section>
					<section>
						<h2>Me, putting these talks together :)</h2>
						<blockquote>
							<img src="img/funny-this-talk.gif">
							<footer>when I solve a bug 5 minutes before it goes in production —
								<cite>
									<a title="the_coding_love();" href="http://thecodinglove.com/post/62060195033/when-i-solve-a-bug-5-minutes-before-it-goes-in">the_coding_love();</a>
								</cite>
							</footer>
						</blockquote>
					</section>


				</section>

				<section>
					<section>
						<h2>What is a Devstart<span style="color:#4b8df8;">.io</span>?!</h2>
						<div class="box">
							<ul class="unstyled inline">
								<li class="box box-green">IDE
									<div class="box-section box-interface box-section-middle">AppGen</div>
									<div class="box-section box-interface box-section-middle">Templates</div>
									<div class="box-section box-interface box-section-middle">Source/Classes</div>
									<div class="box-section box-interface box-section-bottom"><div class="fragment fade-in"><strong>** AddIns **</strong></div></div>
								</li>
								<li class="box fragment fade-in">Devstart<span style="color:#4b8df8;">.io</span><span class="fragment" data-fragment-index="6"> - FREE!</span>
									<div class="fragment fade-in box-section box-interface box-section-middle">Recent files, News</div>
									<div class="fragment fade-in box-section box-interface box-section-middle">Meta data</div>
									<div class="fragment fade-in box-section box-interface box-section-middle">AddIn management</div>
									<div data-fragment-index="7" class="fragment fade-in box-section box-interface box-section-bottom">Metrics, community</div>
								</li>
								<li class="box box-green">CODE
									<div class="box-section box-interface box-section-middle">Generated code</div>
									<div class="box-section box-interface box-section-middle">Scripts-js/html/sql</div>
									<div class="box-section box-interface box-section-middle">Config files-xml/INI</div>
									<div class="box-section box-interface box-section-bottom">Database schemas</div>
								</li>
							</ul>
							<ul data-fragment-index="8" class="fragment fade-in box-section box-section-bottom box-interface box-section-row unstyled">
								<li><img width="250" src="img/happy-user.gif">
								</li>

							</ul>			
						</div>
					</section>
					<section>
						<h2>Free</h2>
						<blockquote>Online only version, possibly add supported with limited functionality.</blockquote><br />
						<h2>Essential</h2>
						<blockquote>Including essential addins from <a href="http://clarionaddins.com" target="_blank">ClarionAddins</a> and basic    project/solution meta data.</blockquote><br />
						<h2>Ultimate</h2>
						<blockquote>All <a href="http://clarionaddins.com" target="_blank">ClarionAddins</a>, and as many other cool features I can think of!</blockquote><br />
						</section>
					<section>
						<h2>What is an Addin?</h2>
						<blockquote>
							<p>"A fantastic set of enhancements to the IDE, which has made it more productive and pleasurable for me (and countless others) to use Clarion."</p>
							<footer> —
								<cite>
									<a title="Mike Hanson" href="https://boxsoft.net/descrip.htm">Mike Hanson</a>
								</cite>
							</footer>
						</blockquote>
						<h3>
							Who has heard of <a href="http://clarionaddins.com">ClarionAddins</a>?
						</h3>
						<p><small>(this is where we see a room full of hands right... right!)</small>
						</p>
						<p>
							So here is the IDE... This is what addins do. The thing I am referring to as the "Devstart<span style="color:#4b8df8;">.io</span> Project" is an Addin. 
						</p>
						<p>
							Addins are COOL. You want them!
						</p>
						<p>
							<strong>
								Devstart<span style="color:#4b8df8;">.io</span> is going to replace ClarionAddins.
							</strong>
						</p>
					</section>

				
				</section>

				<section data-background="#35aa47">
					<h2>Time for a Demo!</h2>
					<p>
						<em>Let's see this thing in action...</em>
					</p>
					<ul>
						<li>Where to get it - <a href="http://devstart.io">http://Devstart.io</a></li>
						<li>Download it.</li>
						<li>Install it.</li>
						<li>Open up Clarion.</li>
						<li>Click around a bit and see what it does!</li>
					</ul>
				</section>

				<section>
					<section>
						<h2>The Tech!</h2>
						<ul>
							<li>AddIn - C#, Visual Studio</li>
							<li>WebBrowser component</li>
							<li>Metronic Admin theme - <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=fognir">Themeforest</a></li>
							<ul>
								<li>Bootstrap based and heavy on the JS</li>
							</ul>
							<li><a href="http://jekyllrb.com/">Jekyll</a> / <a href="https://www.ruby-lang.org/en/">Ruby</a></li>
							<li><a href="</a>">SublimeText</a></li>
							<li><a href="http://technet.microsoft.com/en-us/library/hh847837.aspx">Powershell</a></li>
						</ul>
					</section>
					<section>
						<h2>So what is Jekyll, exactly?</h2>
						<blockquote>
<p>Jekyll is a simple, blog-aware, static site generator. It takes a template directory containing raw text files in various formats, runs it through <a href="http://daringfireball.net/projects/markdown/">Markdown</a> (or <a href="http://textile.sitemonks.com/">Textile</a>) and <a href="http://wiki.shopify.com/Liquid">Liquid</a> converters, and spits out a complete, ready-to-publish static website suitable for serving with your favorite web server. Jekyll also happens to be the engine behind <a href="http://pages.github.com">GitHub Pages</a>, which means you can use Jekyll to host your project’s page, blog, or website from GitHub’s servers <strong>for free</strong>.</p>
							<footer> —
								<cite>
									<a title="Jekyll Docs" href="http://jekyllrb.com/docs/home/">Jekyll Docs</a>
								</cite>
							</footer>
						</blockquote>
					</section>
					<section><h2>Jekyll Layout</h2>
					    <pre><code data-trim>
{% include head.html %}
&lt;body class="{% if page.body-class %}{{ page.body-class}}{% else %}page-header-fixed page-sidebar-fixed page-footer-fixed{% endif %}">
{% include page_header.html %}
<div class="page-container row-fluid">
    {% include sidebar.html %}
	<div class="page-content">
	    <div class="container-fluid">
	        <div class="row-fluid">
	            <div class="span12">
	            </div>
	        </div>
	        {{ content }}
	    </div>
	</div>
</div>
{% include footer.html %}
{% include scripts.html %}
&lt;/body>
&lt;/html>
					    </code></pre>
					</section>
					<section><h2>Example page</h2>
					    <pre><code data-trim>
---
layout: default
title: Community
name: community
icon: icon-user
---

<div class="hero-unit">
  <h1>Community Resources</h1>
  <p>Under construction...</p>
  <p>
    More to come soon!
  </p>
</div>
					    </code></pre>
					</section>

				</section>

				<section data-background="#852b99">
					<h2><span style="background-color:black;padding: 0 10px 0 10px;">Devstart<span style="color:#4b8df8;">.io</span></span></h2>
					<p>
						What is does now...
					</p>
					<p>
						What I want it to do...
					</p>
					<p>
						I want your ideas...
					</p>
					<p>
						I would love to hear your ideas:</p><p><a href="http://Devstart.io/feedback">http://Devstart.io/feedback</a>
					</p>
				</section>

			</div>
			<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
			<div class="progress"><span></span></div>

			<!-- MY HEADER -->
			<div class="header">
				<div class="preso-link">
					<a style="color:white;" target="_blank" href="http://devstart.io/?cidc2013_session">http://Devstart<span style="color:#4b8df8;">.io</span>/cidc2013</a>
				</div>
				<div class="profile-link">
					<a target="_blank" href="http://fushnisoft.com">Brahn Partridge</a> / <a target="_blank" href="http://twitter.com/fushnisoft">@fushnisoft</a>
				</div>
			</div>

			<!-- MY HEADER -->

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				loop: true,

				// Bounds for smallest/largest possible scale to apply to content
				minScale: 0.2,
    			maxScale: 1.0,
				//autoSlide: 2000,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				multiplex: {
			        secret: '13801457006253013372',
			        id: 'f53ae2cd2f62e647',
			        url: 'revealjs.jit.su:80' 
			    },
				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
					{ src: 'plugin/multiplex/master.js', async: true }
				]
			});

		</script>

	</body>
</html>
